<div class="p-4">
  <h2>{{question?.trainingContent}}</h2>

  <div class="mt-4 row">
    <div class="fs-5 col-6" style="white-space: pre-wrap;">
      {{question?.question}}
    </div>
    <form class="col-6" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div style="white-space: pre-wrap;">
        <ng-container *ngFor="let key of objectKeys(question?.answers) | genericFilter : filterEmptyAnswer">
          <div class="row custom-control custom-radio mb-5">
            <input [id]="'ans'+key" type="radio" class="col-1 custom-control-input" formControlName="answer"
                   [value]="key" name="answer">
            <label class="col-5 custom-control-label" [htmlFor]="'ans'+key">{{question?.answers[key]}}</label>
          </div>
        </ng-container>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>

  <button class="btn btn-primary" (click)="next()">Next</button>
</div>
<button class="btn btn-warning" (click)="back()">Back</button>
