<!--display all questions-->
<h2 xmlns="http://www.w3.org/1999/html">{{trainingContent?.name}}</h2>

<div class="d-flex mb-5">
  <button class="btn btn-warning me-4" (click)="back()">Back</button>
</div>

<div class="d-flex flex-row">
  <div class="navbar sticky-top" tabindex="100" style="height: 60vh">
    <app-pallet #pallet [parent]="this"></app-pallet>
  </div>

  <div class="col-9 p-2">

    <div class="mt-4" *ngFor="let question of trainingContent?.questions">
      <h2>Question {{question?.id}}</h2>

      <app-question-form #questions [question]="question"></app-question-form>
      <hr>
    </div>
  </div>
</div>
