<h3>Oracle</h3>
<div class="row">
  <div class="col-4 d-flex flex-column">
    <a *ngFor="let content of trainingContents | genericFilter: filterTrainingContentExam"
       [routerLink]="['/content', content.name]" class="col-1-4">
      <div class="">
        <h4>{{content.name}}</h4>
      </div>
    </a>
  </div>
  <div class="col-4 d-flex flex-column">
    <a *ngFor="let content of trainingContents | genericFilter: filterTrainingContentLesson"
       [routerLink]="['/content', content.name]" class="col-1-4">
      <div class="">
        <h4>{{content.name}}</h4>
      </div>
    </a>
  </div>
</div>
