<div id="question-palette-panel">
  <div class="current-topic-label">
    {{parent.trainingContent?.name}}
  </div>

  <div class="question-palette-main">
    <div class="question-palette-header">
      <div class="question-palette-title">Question Palette</div>
    </div>
    <div class="">
      <div class="grid">
        <ng-container *ngFor="let comp of parent._questionComponents">
          <!--                      [ngClass]="comp.isFormSelected === true ? 'btn-light' : 'btn-red'">-->
          <!--          + comp?.style === undefined ? 'bg-dark' : 'bg-light'-->
          <span [ngClass]="'btn badge text-dark ' + checkComponent(comp)" (click)="jumpTo(comp?.question!)">
            {{comp?.question?.id}}
          </span>
        </ng-container>
      </div>

      <div class="questions-progress">

        <div class="game-progress-bar">
          <span class="" role="progressbar">
            <span class=""></span>
          </span>
        </div>

        <div class="fw-bold fs-5">{{getProgress()}}</div>

      </div>
    </div>

    <div class="container">
      <!--      show submit button when taking test-->
      <button *ngIf="isViewingResult === false" class="btn btn-secondary" (click)="submitTest()">
        Submit
      </button>
    </div>
  </div>
</div>
