<div id="question-palette-panel">
  <div class="current-topic-label">
    {{parent.trainingContent?.name}}
  </div>

  <div class="question-palette-main">
    <div class="question-palette-header">
      <div class="question-palette-title">Question Palette</div>
    </div>
    <div class="">
      <div class="grid">
        <ng-container *ngFor="let comp of parent._questionComponents">
          <!--                      [ngClass]="comp.isFormSelected === true ? 'btn-light' : 'btn-red'">-->
          <span class="btn badge bg-secondary" (click)="jumpTo(comp?.question!)">
            {{comp?.question?.id}}
          </span>
        </ng-container>
      </div>

      <div class="questions-progress">

        <div class="game-progress-bar">
          <span class="" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
            <span class=""></span>
          </span>
        </div>

        <div class="progress-title">{{parent.getProgress()}}</div>

      </div>
    </div>

    <div class="container">
      <button *ngIf="isViewingResult === false" class="btn btn-secondary" (click)="submitTest()">
        Submit
      </button>
    </div>
  </div>
</div>
