<div id="question-palette-panel">
  <div class="current-topic-label"></div>
  <div class="question-palette-main">
    <div class="question-palette-header">
      <div class="question-palette-title">Question Palette</div>

      <div class="question-palette-nav">
        {{trainingContent?.name}}
      </div>
    </div>
    <div class="question-palette-body">
      <div class="questions-list expand">

        <!-- loop over this-->
        <div class="questions-list-row">
          <button class="" tabindex="0" type="button">
            97
            <span class=""></span>
          </button>
        </div>

      </div>

      <div class="questions-progress">
        <div class="game-progress-bar"><span
          class=""
          role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"><span
          class=""></span></span>
        </div>

        <div class="progress-title">76/100</div>

      </div>
    </div>

    <div class="question-palette-footer"></div>
  </div>
</div>
