<div class="p-4">
  <button class="btn btn-primary" (click)="next()">Next random question</button>

  <h2>{{question?.trainingContent}}</h2>

  <div class="mt-4 row">
    <div class="fs-5 col-6" style="white-space: pre-wrap;">
      {{question?.question}}
    </div>
    <form class="col-6" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div style="white-space: pre-wrap;">
        <ng-container *ngFor="let item of listOfAnswers | answerNotBlank : listOfAnswers">
          <div class=" custom-control custom-radio mb-5 d-flex flex-row">
            <div class="fs-3 me-4">{{item.key}}</div>

            <input *ngIf="question?.type === questionType.SINGLE_CHOICE; else elseBlock"
                   [id]="'ans'+item.key" type="radio" class="custom-control-input" formControlName="answer"
                   [value]="item.key" name="answer">
            <ng-template #elseBlock>
              <input [id]="'ans'+item.key" type="checkbox" class="custom-control-input" formControlName="answer"
                     [value]="item.key" name="answer" [checked]="false" [(ngModel)]="item.checked">
            </ng-template>
            <label class="form-control" [htmlFor]="'ans'+item.key">{{item.answer}}</label>
          </div>
        </ng-container>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
<button class="btn btn-warning" (click)="back()">Back</button>
