<div class="p-4">

  <div class="mt-4 card row d-flex flex-row">
    <div class="fs-5 col-6 code-block">
      {{question?.question}}
    </div>

    <form class="col-6 code-block"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          #formElement>

      <!-- answer status/explanation-->
      <div class="p-2">
        <ng-container *ngIf="answerIsCorrect == undefined || answerIsCorrect == null; else elseif1">
          Choose answer
        </ng-container>

        <ng-template #elseif1>
          <ng-container *ngIf="answerIsCorrect; else elseif2">
            <div class="card card-text fs-3 text-black bg-success">Correct answer</div>
            <div class="fs-5">{{this.question?.explanation}}</div>
          </ng-container>
        </ng-template>

        <ng-template #elseif2>
          <ng-container *ngIf="!answerIsCorrect">
            <div class="card card-text fs-3 text-black bg-warning">Wrong answer</div>
          </ng-container>
        </ng-template>
      </div>

      <div class="list-group list-group-flush ">
        <div *ngFor="let answer of listOfAnswers | answerNotBlank : listOfAnswers">
          <div class="list-group-item d-flex justify-content-start custom-control custom-radio">
            <div class="col-1 fs-3 me-4">{{answer?.key}}</div>

            <div *ngIf="question?.type === questionType.SINGLE_CHOICE; then radio else checkBox"></div>

            <!-- single answer question-->
            <ng-template #radio>
              <input [id]="question?.id+'ans'+answer?.key"
                     [value]="answer?.key"
                     type="radio" class="custom-control-input"
                     formControlName="answer"
                     name="answer">
            </ng-template>

            <!-- multiple answer-->
            <ng-template #checkBox>
              <input [id]="question?.id+'ans'+answer.key"
                     [value]="answer?.key" name="answer"
                     [checked]="false"
                     [(ngModel)]="answer.checked"
                     type="checkbox" class="custom-control-input"
                     formControlName="answer">
            </ng-template>

            <!-- <label class="form-control" [htmlFor]="'ans'+answer.key">{{answer.answer}}</label>-->
            <label class="form-control"
                   [ngClass]="answer?.isCorrect"
                   [htmlFor]="question?.id+'ans'+answer?.key">
              {{answer?.answer}}
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
