<div class="row fs-5" style=" white-space: pre-wrap;">
  <div class="col-6">
    <h1>{{question?.id}}</h1>
    <div class="fs-5 code-block">{{question?.question}}</div>
  </div>

  <div class="col-6 list-group list-group-flush d-flex flex-column">
    <ng-container *ngFor="let key of objectKeys(question?.answers) | questionAnswerNotEmpty : question?.answers">
      <div class="list-group-item list-group-item-action d-flex justify-content-start">
        <div class="fs-2 fw-bold me-4">{{key}}</div>
        <div class="fs-6 col-5">{{question?.answers[key]}}</div>
      </div>
    </ng-container>
  </div>
</div>

<button class="btn btn-primary" type="button"
        [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#ans' + question?.id"
        [attr.aria-expanded]="false">See answer
</button>

<div class="collapse" id="ans{{question?.id}}">
  <div>Answer: <h2>{{question?.answer}}</h2></div>
  <div class="card card-text code-block">
    {{question?.explanation}}
  </div>
</div>

